project:
  type: website
  output-dir: docs
  render:
    - "*.qmd"
    - "!files/"

website:
  title: "PSCI 3200"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - syllabus.qmd
      - schedule.qmd
  page-footer:
      left: |
        Content {{< fa brands creative-commons >}} {{< var course.copyright_year >}} by [{{< var instructor.name_no_title >}}]({{< var instructor.url >}}) <br>
        All content licensed under a {{< fa brands creative-commons >}}
        {{< fa brands creative-commons-by >}} {{< fa brands creative-commons-nc >}}
        [Creative Commons Attribution-NonCommercial 4.0 International license (CC BY-NC 4.0)](https://creativecommons.org/licenses/by-nc/4.0/)
      right: |
        Made with {{< fa brands r-project >}} and [Quarto](https://quarto.org/)<br>
        [View the source at {{< fa brands github >}} GitHub]({{< var course.github >}})

format:
  html:
    theme:
      light: flatly
      dark: darkly
    css: html/custom.scss
    toc: true




